<!DOCTYPE html>
<html lang="en">
<head>
  <title>Download Timesheets</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
table,tr, th, td{
  border: 1px solid black;
}

</style>
</head>
<body>
<div>
    <table>
        <thead>
        <tr style="text-align:center width:75%;"><th>Role</th><th>Team Member</th><th>Team Name</th><th>Category</th><th>Jira Ticket-type</th><th>Jira Ticket-number</th><th>Description</th><th>Sprint</th><th>Hours</th><th>Date</th></tr>
        </thead></br>
        <tbody>
        {% for t in list %}
        <tr style="text-align:center">
            <td>{{t.team.team_name}}</td>
            <td>{{t.team.mem_name}}</td>
            <td>{{t.category.category}}</td>
            <td>{{t.jira_ticket_type}}</td>
            <td>{{t.jira_ticket_number}}</td>
            <td>{{t.description}}</td>
            <td>{{t.sprint}}</td>
            <td>{{t.hours}}</td>
            <td>{{t.date}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <br><br><a href="{% url 'export_excel' %}">Download Excel sheet</a>
</div>

</body>
</html>