{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<!-- Page Heading -->

<div class="d-sm-8 align-items-center justify-content-between mb-4">
   <div class="card shadow mb-4">
      <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">Worklog</h6>
      </div>
      <div class="card-body">
         {{ form.media }}
         <form method="post" action="" class="form-horizontal" id="form_sample_2" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% for field in form %}
            {{field.error}}
            <div class="form-group row">
               <label class="col-md-2 control-label" for="{{ field.id_for_label }}"
                  id='{{field.label}}'>
                  <p align="left">{{ field.label }}
                     {% if field.field.required %}
                     <span class="special_class">*</span>
                     {% endif %}
                  </p>
               </label>
               {% for error in field.errors %}
               <span class="tips" style="color:red">{{ error }}</span>
               {% endfor %}
               <div class="col-md-4">
                  <div class="input-icon right">
                     {% render_field field class+="form-control input-circle" %}
                  </div>
               </div>
            </div>
            {% endfor %}
            <div class="form-actions row justify-content-center col-md-6">
               <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}
