<!--<app>/templates/contact-us.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Work Details</title>
</head>

<body>

    <form action="." method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">SUBMIT</button>
    </form>

    {% if worklog_data %}
     <table class="table table-bordered">
         <tr>
                <th>Team</th>
                <th>Jira Ticket Type</th>
                <th>Jira Ticket Number</th>
                <th>Description</th>
                <th>Sprint</th>
                <th>Team Member</th>
                <th>Category</th>
                <th>Date</th>
                <th>Hours</th>
         </tr>
         {% for data in worklog_data %}
         <tr>
                <td>{{data.member.group_name.group_name}}</td>
                <td>{{data.task.jira_ticket_type}}</td>
                <td>{{data.task.jira_ticket_number}}</td>
                <td>{{data.task.description}}</td>
                <td>{{data.task.sprint}}</td>
                <td>{{data.member.name}}</td>
                <td>{{data.task.category.category_name}}</td>
                <td>{{data.work_date}}</td>
                <td>{{data.hours}}</td>
         </tr>
         {% endfor %}
     </table>   
    {% endif %} 

</body>

</html>