{% load static %}
<html>
<head>
    <title>Added Data</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
</head>
<body>
<div>
{% if messages %}
<ul>
   {% for message in messages %}
	   <li>{{ message }}</li>
   {% endfor %}
</ul>
{% endif %}
</div>
<div>
<p>Role: {{t.role.role_name}}</p>
<p>Team Member: {{t.team_name.mem_name}}</p>
<p>Team Name: {{t.team_name.team_name}}</p>
<p> Category: {{t.category.category}}</p>
<p>Jira Ticket: {{t.jjira_ticket_type}}-{{t.jira_ticket_number}}</p>
<p>Description: {{t.description}}</p>
<p>Sprint: {{t.sprint}}</p>
<p>Hours: {{t.hours}}</p>
<p>Date: {{t.date}}</p>
</div><br>
<a href="http://127.0.0.1:8000/home">add data</a><br><br>
<a href="http://127.0.0.1:8000/data">view whole data</a>
</body>
</html>